In [1]:
import pandas as pd
import numpy as np
import random

# hand means:
# 0: Nothing in hand; not a recognized poker hand 
# 1: One pair; one pair of equal ranks within five cards
# 2: Two pairs; two pairs of equal ranks within five cards
# 3: Three of a kind; three equal ranks within five cards
# 4: Straight; five cards, sequentially ranked with no gaps
# 5: Flush; five cards with the same suit
# 6: Full house; pair + different rank three of a kind
# 7: Four of a kind; four equal ranks within five cards
# 8: Straight flush; straight + flush
# 9: Royal flush; {Ace, King, Queen, Jack, Ten} + flush
#Ordinal (1-4) representing {Hearts, Spades, Diamonds, Clubs}
#Numerical (1-13) representing (Ace, 2, 3, ... , Queen, King)
desteStr = ['H1','H2','H3','H4','H5','H6','H7','H8','H9','H10','H11','H12','H13',
            'S1','S2','S3','S4','S5','S6','S7','S8','S9','S10','S11','S12','S13',
            'D1','D2','D3','D4','D5','D6','D7','D8','D9','D10','D11','D12','D13',
            'C1','C2','C3','C4','C5','C6','C7','C8','C9','C10','C11','C12','C13']
royalFlush = [['H1','H10','H11','H12','H13'],['S1','S10','S11','S12','S13'],['D1','D10','D11','D12','D13'],
              ['C1','C10','C11','C12','C13']]

In [2]:
df_train = pd.read_csv("poker-hand-training-true.data")
df_train

       1  10  1.1  11  1.2  13  1.3  12  1.4  1.5  9
0      2  11    2  13    2  10    2  12    2    1  9
1      3  12    3  11    3  13    3  10    3    1  9
2      4  10    4  11    4   1    4  13    4   12  9
3      4   1    4  13    4  12    4  11    4   10  9
4      1   2    1   4    1   5    1   3    1    6  8
...   ..  ..  ...  ..  ...  ..  ...  ..  ...  ... ..
25004  3   9    2   6    4  11    4  12    2    4  0
25005  4   1    4  10    3  13    3   4    1   10  1
25006  2   1    2  10    4   4    4   1    4   13  1
25007  2  12    4   3    1  10    1  12    4    9  1
25008  1   7    3  11    3   3    4   8    3    7  1

[25009 rows x 11 columns]

In [3]:
columns=['suit1','rank1','suit2','rank2','suit3','rank3','suit4','rank4','suit5','rank5','hand']
df_train.columns = columns

In [4]:
df_train.drop(['hand'], axis=1, inplace=True)
df_train['suit1'].replace({1:'H', 2:'S',3:'D',4:'C'}, inplace = True)
df_train['suit2'].replace({1:'H', 2:'S',3:'D',4:'C'}, inplace = True)
df_train['suit3'].replace({1:'H', 2:'S',3:'D',4:'C'}, inplace = True)
df_train['suit4'].replace({1:'H', 2:'S',3:'D',4:'C'}, inplace = True)
df_train['suit5'].replace({1:'H', 2:'S',3:'D',4:'C'}, inplace = True)
df_train.head()

  suit1  rank1 suit2  rank2 suit3  rank3 suit4  rank4 suit5  rank5
0     S     11     S     13     S     10     S     12     S      1
1     D     12     D     11     D     13     D     10     D      1
2     C     10     C     11     C      1     C     13     C     12
3     C      1     C     13     C     12     C     11     C     10
4     H      2     H      4     H      5     H      3     H      6

In [5]:
#aÃ§Ä±lan ilk 3 karta flop, 4. ye turn, 5.ye river olarak atama yaptÄ±k
df_train['flop1'] = df_train['suit1'].astype(str)+df_train['rank1'].astype(str)
df_train['flop2'] = df_train['suit2'].astype(str)+df_train['rank2'].astype(str)
df_train['flop3'] = df_train['suit3'].astype(str)+df_train['rank3'].astype(str)
df_train['turn']  =  df_train['suit4'].astype(str) + df_train['rank4'].astype(str)
df_train['river'] = df_train['suit5'].astype(str)+df_train['rank5'].astype(str)
df_train.drop(['suit1','suit2','suit3','suit4','suit5','rank1','rank2','rank3','rank4','rank5'],
              axis=1, inplace=True)
df_train.head()

  flop1 flop2 flop3 turn river
0   S11   S13   S10  S12    S1
1   D12   D11   D13  D10    D1
2   C10   C11    C1  C13   C12
3    C1   C13   C12  C11   C10
4    H2    H4    H5   H3    H6

In [6]:
df_train['el1'] = ''
df_train['el2'] = ''
df_train['pc1'] = ''
df_train['pc2'] = ''
for i in range(df_train.shape[0]):
    el1 = random.choice(desteStr)
    while el1 in list(df_train.iloc[i]):
        el1 = random.choice(desteStr)
    df_train['el1'].iloc[i] = el1
    
    el2 = random.choice(desteStr)
    while el2 in list(df_train.iloc[i]):
        el2 = random.choice(desteStr)
    df_train['el2'].iloc[i] = el2
    
    pc1 = random.choice(desteStr)
    while pc1 in list(df_train.iloc[i]):
        pc1 = random.choice(desteStr)
    df_train['pc1'].iloc[i] = pc1
    
    pc2 = random.choice(desteStr)
    while pc2 in list(df_train.iloc[i]):
        pc2 = random.choice(desteStr)
    df_train['pc2'].iloc[i] = pc2
df_train.head()

  flop1 flop2 flop3 turn river  el1  el2 pc1  pc2
0   S11   S13   S10  S12    S1   H7  C11  S2   S5
1   D12   D11   D13  D10    D1  S10   D3  H3  H11
2   C10   C11    C1  C13   C12  S13   H5  C6   S4
3    C1   C13   C12  C11   C10   H3   D5  C9   S3
4    H2    H4    H5   H3    H6   C1   H1  C3   C7

In [7]:
player_train_data1 = df_train[['el1','el2','flop1','flop2','flop3','turn','river']]
player_train_data1.head()

   el1  el2 flop1 flop2 flop3 turn river
0   H7  C11   S11   S13   S10  S12    S1
1  S10   D3   D12   D11   D13  D10    D1
2  S13   H5   C10   C11    C1  C13   C12
3   H3   D5    C1   C13   C12  C11   C10
4   C1   H1    H2    H4    H5   H3    H6

In [8]:
computer_train_data1 = df_train[['pc1','pc2','flop1','flop2','flop3','turn','river']]
computer_train_data1.head()

  pc1  pc2 flop1 flop2 flop3 turn river
0  S2   S5   S11   S13   S10  S12    S1
1  H3  H11   D12   D11   D13  D10    D1
2  C6   S4   C10   C11    C1  C13   C12
3  C9   S3    C1   C13   C12  C11   C10
4  C3   C7    H2    H4    H5   H3    H6

In [9]:
def isNothing(cards):
    return not(isOnePair(cards) | isTwoPair(cards) | isThree(cards) | isStraight(cards) | isFlush(cards)
            | isFull(cards) | isFour(cards) | isStraightFlush(cards) | isRoyalFlush(cards))

def isOnePair(cards):
    newCards=[]
    for i in range(len(cards)):
        newCards.append(cards[i][1:])
    for i in range(len(cards)):
        if newCards.count(newCards[i])>=2:
            return True
    return False

def isTwoPair(cards):
    freq = {'1':0,'2':0,'3':0,'4':0,'5':0,'6':0,'7':0,'8':0,'9':0,'10':0,'11':0,'12':0,'13':0}
    counter = 0
    newCards = []
    for i in range(len(cards)):
        newCards.append(cards[i][1:])
        freq[newCards[i]] += 1
       
    for key,value in freq.items():
        if value>=2:
            counter += 1
    return counter >= 2

def isThree(cards):
    newCards = []
    for i in range(len(cards)):
        newCards.append(cards[i][1:])
    for i in range(len(newCards)-2):
        if(newCards.count(newCards[i])>=3):
            return True
    return False

def isStraight(cards):
    newCards = []
    for i in range(len(cards)):
        newCards.append(int(cards[i][1:]))
    newCards.sort()
    newCards= list(set(newCards))
    for i in range(len(newCards)-4):
        if (newCards[i]+1 == newCards[i+1]) & (newCards[i]+2 == newCards[i+2]) & (newCards[i]+3 == newCards[i]+3) & (newCards[i]+4 == newCards[i+4]):
            return True            
    return False

def isFlush(cards):
    newCards = []
    for i in range(len(cards)):
        newCards.append(cards[i][0])
    for el in newCards:
        if newCards.count(el)>=5:
            return True
    return False

def isFull(cards):
    freq = {'1':0,'2':0,'3':0,'4':0,'5':0,'6':0,'7':0,'8':0,'9':0,'10':0,'11':0,'12':0,'13':0}
    flag2 = False
    flag3 = False
    newCards = []
    for i in range(len(cards)):
        newCards.append(cards[i][1:])
        freq[newCards[i]] += 1
    
    for key,value in freq.items():
        if value == 2:
            flag2 = True
        elif value == 3:
            flag3 = True
    return (flag2 & flag3) 

def isFour(cards):
    newCards = []
    for i in range(len(cards)):
        newCards.append(cards[i][1:])
    for i in range(len(newCards)-3):
        if(newCards.count(newCards[i])==4):
            return True
    return False

def isStraightFlush(cards):
    freq = {'H':0,'S':0,'D':0,'C':0}
    if(isFlush(cards)):
        cardsCheck=[]
        for i in range(len(cards)):
            freq[cards[i][0]] +=1
        for key,value in freq.items():
            if value >= 5:
                for i in range(len(cards)):
                    if key == cards[i][0]:
                        cardsCheck.append(cards[i])
                break
        return isStraight(cardsCheck)
    else:
        return False

def isIn(arr1,arr2):
    for i in range(len(arr1)+1):
        if i == len(arr1):
            return True
        if arr1[i] in arr2:
            continue
        else:
            break
    
    return False

def isRoyalFlush(cards):
    freq = {'H':0,'S':0,'D':0,'C':0}
    if(isFlush(cards)):
        cardsCheck=[]
        for i in range(len(cards)):
            freq[cards[i][0]] +=1
        for key,value in freq.items():
            if value >= 5:
                for i in range(len(cards)):
                    if key == cards[i][0]:
                        cardsCheck.append(cards[i])
        for el in royalFlush:
            if isIn(el,cardsCheck):
                return True
    return False

In [10]:
df_train['hand0'] = np.nan
df_train['hand1'] = np.nan
df_train['hand2'] = np.nan
df_train['hand3'] = np.nan
df_train['hand4'] = np.nan
df_train['hand5'] = np.nan
df_train['hand6'] = np.nan
df_train['hand7'] = np.nan
df_train['hand8'] = np.nan
df_train['hand9'] = np.nan
df_train.head()

,flop1,flop2,flop3,turn,river,el1,el2,pc1,pc2,hand0,hand1,hand2,hand3,hand4,hand5,hand6,hand7,hand8,hand9
0,S11,S13,S10,S12,S1,H7,C11,S2,S5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,D12,D11,D13,D10,D1,S10,D3,H3,H11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C10,C11,C1,C13,C12,S13,H5,C6,S4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C1,C13,C12,C11,C10,H3,D5,C9,S3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H2,H4,H5,H3,H6,C1,H1,C3,C7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
player_train_data = df_train.drop(['pc1','pc2'], axis=1)
player_train_data['result_player'] = np.nan
player_train_data.head()

,flop1,flop2,flop3,turn,river,el1,el2,hand0,hand1,hand2,hand3,hand4,hand5,hand6,hand7,hand8,hand9,result_player
0,S11,S13,S10,S12,S1,H7,C11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,D12,D11,D13,D10,D1,S10,D3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C10,C11,C1,C13,C12,S13,H5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C1,C13,C12,C11,C10,H3,D5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H2,H4,H5,H3,H6,C1,H1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
computer_train_data = df_train.drop(['el1','el2'], axis=1)
computer_train_data['result_computer'] = np.nan
computer_train_data.head()

,flop1,flop2,flop3,turn,river,pc1,pc2,hand0,hand1,hand2,hand3,hand4,hand5,hand6,hand7,hand8,hand9,result_computer
0,S11,S13,S10,S12,S1,S2,S5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,D12,D11,D13,D10,D1,H3,H11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C10,C11,C1,C13,C12,C6,S4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C1,C13,C12,C11,C10,C9,S3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H2,H4,H5,H3,H6,C3,C7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
for i in range(computer_train_data.shape[0]):
    x = list(computer_train_data1.iloc[i])
    computer_train_data['hand0'].iloc[i] = isNothing(x)
    computer_train_data['hand1'].iloc[i] = isOnePair(x)
    computer_train_data['hand2'].iloc[i] = isTwoPair(x)
    computer_train_data['hand3'].iloc[i] = isThree(x)
    computer_train_data['hand4'].iloc[i] = isStraight(x)
    computer_train_data['hand5'].iloc[i] = isFlush(x)
    computer_train_data['hand6'].iloc[i] = isFull(x)
    computer_train_data['hand7'].iloc[i] = isFour(x)
    computer_train_data['hand8'].iloc[i] = isStraightFlush(x)
    computer_train_data['hand9'].iloc[i] = isRoyalFlush(x)

computer_train_data.head()

C:\Users\numan\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,flop1,flop2,flop3,turn,river,pc1,pc2,hand0,hand1,hand2,hand3,hand4,hand5,hand6,hand7,hand8,hand9,result_computer
0,S11,S13,S10,S12,S1,S2,S5,False,False,False,False,False,True,False,False,False,True,NaN
1,D12,D11,D13,D10,D1,H3,H11,False,True,False,False,False,True,False,False,False,True,NaN
2,C10,C11,C1,C13,C12,C6,S4,False,False,False,False,False,True,False,False,False,True,NaN
3,C1,C13,C12,C11,C10,C9,S3,False,False,False,False,True,True,False,False,True,True,NaN
4,H2,H4,H5,H3,H6,C3,C7,False,True,False,False,True,True,False,False,True,False,NaN

In [14]:
for i in range(computer_train_data.shape[0]):
    
    if computer_train_data['hand9'].iloc[i]:
        computer_train_data['result_computer'].iloc[i] = 9
        
    elif computer_train_data['hand8'].iloc[i]:
        computer_train_data['result_computer'].iloc[i] = 8
        
    elif computer_train_data['hand7'].iloc[i]:
        computer_train_data['result_computer'].iloc[i] = 7
        
    elif computer_train_data['hand6'].iloc[i]:
        computer_train_data['result_computer'].iloc[i] = 6
        
    elif computer_train_data['hand5'].iloc[i]:
        computer_train_data['result_computer'].iloc[i] = 5
        
    elif computer_train_data['hand4'].iloc[i]:
        computer_train_data['result_computer'].iloc[i] = 4
        
    elif computer_train_data['hand3'].iloc[i]:
        computer_train_data['result_computer'].iloc[i] = 3
        
    elif computer_train_data['hand2'].iloc[i]:
        computer_train_data['result_computer'].iloc[i] = 2
        
    elif computer_train_data['hand1'].iloc[i]:
        computer_train_data['result_computer'].iloc[i] = 1
        
    else:
        computer_train_data['result_computer'].iloc[i] = 0
computer_train_data.head()

C:\Users\numan\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,flop1,flop2,flop3,turn,river,pc1,pc2,hand0,hand1,hand2,hand3,hand4,hand5,hand6,hand7,hand8,hand9,result_computer
0,S11,S13,S10,S12,S1,S2,S5,False,False,False,False,False,True,False,False,False,True,9.0
1,D12,D11,D13,D10,D1,H3,H11,False,True,False,False,False,True,False,False,False,True,9.0
2,C10,C11,C1,C13,C12,C6,S4,False,False,False,False,False,True,False,False,False,True,9.0
3,C1,C13,C12,C11,C10,C9,S3,False,False,False,False,True,True,False,False,True,True,9.0
4,H2,H4,H5,H3,H6,C3,C7,False,True,False,False,True,True,False,False,True,False,8.0

In [15]:
computer_train_data.drop(['hand0','hand1','hand2','hand3','hand4','hand5','hand6','hand7','hand8','hand9'],
              axis=1, inplace = True)
computer_train_data=computer_train_data.reindex(columns = ['pc1','pc2', 'flop1','flop2','flop3','turn',
                                                           'river','result_computer'])
computer_train_data.head()

  pc1  pc2 flop1 flop2 flop3 turn river  result_computer
0  S2   S5   S11   S13   S10  S12    S1              9.0
1  H3  H11   D12   D11   D13  D10    D1              9.0
2  C6   S4   C10   C11    C1  C13   C12              9.0
3  C9   S3    C1   C13   C12  C11   C10              9.0
4  C3   C7    H2    H4    H5   H3    H6              8.0

In [16]:
for i in range(player_train_data.shape[0]):
    x = list(player_train_data1.iloc[i])
    player_train_data['hand0'].iloc[i] = isNothing(x)
    player_train_data['hand1'].iloc[i] = isOnePair(x)
    player_train_data['hand2'].iloc[i] = isTwoPair(x)
    player_train_data['hand3'].iloc[i] = isThree(x)
    player_train_data['hand4'].iloc[i] = isStraight(x)
    player_train_data['hand5'].iloc[i] = isFlush(x)
    player_train_data['hand6'].iloc[i] = isFull(x)
    player_train_data['hand7'].iloc[i] = isFour(x)
    player_train_data['hand8'].iloc[i] = isStraightFlush(x)
    player_train_data['hand9'].iloc[i] = isRoyalFlush(x)
player_train_data.head()

C:\Users\numan\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,flop1,flop2,flop3,turn,river,el1,el2,hand0,hand1,hand2,hand3,hand4,hand5,hand6,hand7,hand8,hand9,result_player
0,S11,S13,S10,S12,S1,H7,C11,False,True,False,False,False,True,False,False,False,True,NaN
1,D12,D11,D13,D10,D1,S10,D3,False,True,False,False,False,True,False,False,False,True,NaN
2,C10,C11,C1,C13,C12,S13,H5,False,True,False,False,False,True,False,False,False,True,NaN
3,C1,C13,C12,C11,C10,H3,D5,False,False,False,False,False,True,False,False,False,True,NaN
4,H2,H4,H5,H3,H6,C1,H1,False,True,False,False,True,True,False,False,True,False,NaN

In [17]:
for i in range(player_train_data.shape[0]):
    
    if player_train_data['hand9'].iloc[i]:
        player_train_data['result_player'].iloc[i] = 9
        
    elif player_train_data['hand8'].iloc[i]:
        player_train_data['result_player'].iloc[i] = 8
        
    elif player_train_data['hand7'].iloc[i]:
        player_train_data['result_player'].iloc[i] = 7
        
    elif player_train_data['hand6'].iloc[i]:
        player_train_data['result_player'].iloc[i] = 6
        
    elif player_train_data['hand5'].iloc[i]:
        player_train_data['result_player'].iloc[i] = 5
        
    elif player_train_data['hand4'].iloc[i]:
        player_train_data['result_player'].iloc[i] = 4
        
    elif player_train_data['hand3'].iloc[i]:
        player_train_data['result_player'].iloc[i] = 3
        
    elif player_train_data['hand2'].iloc[i]:
        player_train_data['result_player'].iloc[i] = 2
        
    elif player_train_data['hand1'].iloc[i]:
        player_train_data['result_player'].iloc[i] = 1
        
    else:
        player_train_data['result_player'].iloc[i] = 0
player_train_data.head()

C:\Users\numan\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,flop1,flop2,flop3,turn,river,el1,el2,hand0,hand1,hand2,hand3,hand4,hand5,hand6,hand7,hand8,hand9,result_player
0,S11,S13,S10,S12,S1,H7,C11,False,True,False,False,False,True,False,False,False,True,9.0
1,D12,D11,D13,D10,D1,S10,D3,False,True,False,False,False,True,False,False,False,True,9.0
2,C10,C11,C1,C13,C12,S13,H5,False,True,False,False,False,True,False,False,False,True,9.0
3,C1,C13,C12,C11,C10,H3,D5,False,False,False,False,False,True,False,False,False,True,9.0
4,H2,H4,H5,H3,H6,C1,H1,False,True,False,False,True,True,False,False,True,False,8.0

In [18]:
player_train_data.drop(['hand0','hand1','hand2','hand3','hand4','hand5','hand6','hand7','hand8','hand9'],
              axis=1, inplace = True)
player_train_data=player_train_data.reindex(columns = ['el1','el2', 'flop1','flop2','flop3','turn',
                                                           'river','result_player'])
player_train_data.head()

   el1  el2 flop1 flop2 flop3 turn river  result_player
0   H7  C11   S11   S13   S10  S12    S1            9.0
1  S10   D3   D12   D11   D13  D10    D1            9.0
2  S13   H5   C10   C11    C1  C13   C12            9.0
3   H3   D5    C1   C13   C12  C11   C10            9.0
4   C1   H1    H2    H4    H5   H3    H6            8.0

In [19]:
player_train_data['winner'] = np.nan
computer_train_data['winner'] = np.nan
for i in range(player_train_data.shape[0]):
    if player_train_data['result_player'].iloc[i] > computer_train_data['result_computer'].iloc[i]:
        player_train_data['winner'].iloc[i] = 1
        computer_train_data['winner'].iloc[i] = 1
    elif player_train_data['result_player'].iloc[i] < computer_train_data['result_computer'].iloc[i]:
        player_train_data['winner'].iloc[i] = -1
        computer_train_data['winner'].iloc[i] = -1
    else:
        player_train_data['winner'].iloc[i] = 1
        computer_train_data['winner'].iloc[i] = 1
player_train_data.head()

C:\Users\numan\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

   el1  el2 flop1 flop2 flop3 turn river  result_player  winner
0   H7  C11   S11   S13   S10  S12    S1            9.0     1.0
1  S10   D3   D12   D11   D13  D10    D1            9.0     1.0
2  S13   H5   C10   C11    C1  C13   C12            9.0     1.0
3   H3   D5    C1   C13   C12  C11   C10            9.0     1.0
4   C1   H1    H2    H4    H5   H3    H6            8.0     1.0

In [20]:
computer_train_data.head()

  pc1  pc2 flop1 flop2 flop3 turn river  result_computer  winner
0  S2   S5   S11   S13   S10  S12    S1              9.0     1.0
1  H3  H11   D12   D11   D13  D10    D1              9.0     1.0
2  C6   S4   C10   C11    C1  C13   C12              9.0     1.0
3  C9   S3    C1   C13   C12  C11   C10              9.0     1.0
4  C3   C7    H2    H4    H5   H3    H6              8.0     1.0

In [21]:
player_train_data['winner'].value_counts()

 1.0    17401
-1.0     7608
Name: winner, dtype: int64

In [22]:
X_train = player_train_data.drop(['winner','result_player'], axis=1)
y_train = player_train_data['winner']
train_df = pd.DataFrame(data = 0, columns = desteStr, index = player_train_data.index)

In [23]:
train_df

,H1,H2,H3,H4,H5,H6,H7,H8,H9,H10,...,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25006,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25007,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25008,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
for i in range(X_train.shape[0]):
    for col in X_train:
        train_df[X_train[col].iloc[i]].iloc[i] = 1
X_train = train_df

In [25]:
X_train.head()

,H1,H2,H3,H4,H5,H6,H7,H8,H9,H10,...,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
4,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
y_train.head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: winner, dtype: float64

In [27]:
df_test = df_test = pd.read_csv("poker-hand-testing.data", nrows = 1000)
df_test.drop(['hand'], axis=1, inplace=True)

df_test['suit1'].replace({1:'H', 2:'S',3:'D',4:'C'}, inplace = True)
df_test['suit2'].replace({1:'H', 2:'S',3:'D',4:'C'}, inplace = True)
df_test['suit3'].replace({1:'H', 2:'S',3:'D',4:'C'}, inplace = True)
df_test['suit4'].replace({1:'H', 2:'S',3:'D',4:'C'}, inplace = True)
df_test['suit5'].replace({1:'H', 2:'S',3:'D',4:'C'}, inplace = True)       
#aÃ§Ä±lan ilk 3 karta flop, 4. ye turn, 5.ye river olarak atama yaptÄ±k
df_test['flop1'] = df_test['suit1'].astype(str)+df_test['rank1'].astype(str)
df_test['flop2'] = df_test['suit2'].astype(str)+df_test['rank2'].astype(str)
df_test['flop3'] = df_test['suit3'].astype(str)+df_test['rank3'].astype(str)
df_test['turn'] = df_test['suit4'].astype(str)+df_test['rank4'].astype(str)
df_test['river'] = df_test['suit5'].astype(str)+df_test['rank5'].astype(str)
df_test.drop(['suit1','suit2','suit3','suit4','suit5','rank1','rank2','rank3','rank4','rank5'],axis=1, inplace=True)
df_test['el1'] = ''
df_test['el2'] = ''
df_test['pc1'] = ''
df_test['pc2'] = ''
for i in range(df_test.shape[0]):
    el1 = random.choice(desteStr)
    while el1 in list(df_test.iloc[i]):
        el1 = random.choice(desteStr)
    df_test['el1'].iloc[i] = el1
    
    el2 = random.choice(desteStr)
    while el2 in list(df_test.iloc[i]):
        el2 = random.choice(desteStr)
    df_test['el2'].iloc[i] = el2
    
    pc1 = random.choice(desteStr)
    while pc1 in list(df_test.iloc[i]):
        pc1 = random.choice(desteStr)
    df_test['pc1'].iloc[i] = pc1
    
    pc2 = random.choice(desteStr)
    while pc2 in list(df_test.iloc[i]):
        pc2 = random.choice(desteStr)
    df_test['pc2'].iloc[i] = pc2
basic_df = df_test.loc[:,'flop1':'el2']
basic_df_computer = df_test[['pc1','pc2','flop1','flop2','flop3','turn','river']]
df_test['hand0'] = np.nan
df_test['hand1'] = np.nan
df_test['hand2'] = np.nan
df_test['hand3'] = np.nan
df_test['hand4'] = np.nan
df_test['hand5'] = np.nan
df_test['hand6'] = np.nan
df_test['hand7'] = np.nan
df_test['hand8'] = np.nan
df_test['hand9'] = np.nan
df_test_computer = df_test.drop(['el1','el2'], axis=1)
df_test = df_test.drop(['pc1','pc2'], axis=1)
df_test['result_player'] = np.nan
df_test_computer['result_computer'] = np.nan

df_test_computer['hand0'] = basic_df_computer.apply(lambda x: isNothing(list(x)) , axis=1)
df_test_computer['hand1'] = basic_df_computer.apply(lambda x: isOnePair(list(x)) , axis=1)
df_test_computer['hand2'] = basic_df_computer.apply(lambda x: isTwoPair(list(x)) , axis=1)
df_test_computer['hand3'] = basic_df_computer.apply(lambda x: isThree(list(x)) , axis=1)
df_test_computer['hand4'] = basic_df_computer.apply(lambda x: isStraight(list(x)) , axis=1)
df_test_computer['hand5'] = basic_df_computer.apply(lambda x: isFlush(list(x)) , axis=1)
df_test_computer['hand6'] = basic_df_computer.apply(lambda x: isFull(list(x)) , axis=1)
df_test_computer['hand7'] = basic_df_computer.apply(lambda x: isFour(list(x)) , axis=1)
df_test_computer['hand8'] = basic_df_computer.apply(lambda x: isStraightFlush(list(x)) , axis=1)
df_test_computer['hand9'] = basic_df_computer.apply(lambda x: isRoyalFlush(list(x)) , axis=1)




df_test['hand0'] = basic_df.apply(lambda x: isNothing(list(x)) , axis=1)
df_test['hand1'] = basic_df.apply(lambda x: isOnePair(list(x)) , axis=1)
df_test['hand2'] = basic_df.apply(lambda x: isTwoPair(list(x)) , axis=1)
df_test['hand3'] = basic_df.apply(lambda x: isThree(list(x)) , axis=1)
df_test['hand4'] = basic_df.apply(lambda x: isStraight(list(x)) , axis=1)
df_test['hand5'] = basic_df.apply(lambda x: isFlush(list(x)) , axis=1)
df_test['hand6'] = basic_df.apply(lambda x: isFull(list(x)) , axis=1)
df_test['hand7'] = basic_df.apply(lambda x: isFour(list(x)) , axis=1)
df_test['hand8'] = basic_df.apply(lambda x: isStraightFlush(list(x)) , axis=1)
df_test['hand9'] = basic_df.apply(lambda x: isRoyalFlush(list(x)) , axis=1)


for i in range(df_test.shape[0]):
    
    if df_test['hand9'].iloc[i]:
        df_test['result_player'].iloc[i] = 9
        
    elif df_test['hand8'].iloc[i]:
        df_test['result_player'].iloc[i] = 8
        
    elif df_test['hand7'].iloc[i]:
        df_test['result_player'].iloc[i] = 7
        
    elif df_test['hand6'].iloc[i]:
        df_test['result_player'].iloc[i] = 6
        
    elif df_test['hand5'].iloc[i]:
        df_test['result_player'].iloc[i] = 5
        
    elif df_test['hand4'].iloc[i]:
        df_test['result_player'].iloc[i] = 4
        
    elif df_test['hand3'].iloc[i]:
        df_test['result_player'].iloc[i] = 3
        
    elif df_test['hand2'].iloc[i]:
        df_test['result_player'].iloc[i] = 2
        
    elif df_test['hand1'].iloc[i]:
        df_test['result_player'].iloc[i] = 1
        
    else:
        df_test['result_player'].iloc[i] = 0
    
for i in range(df_test_computer.shape[0]):
    
    if df_test_computer['hand9'].iloc[i]:
        df_test_computer['result_computer'].iloc[i] = 9
        
    elif df_test_computer['hand8'].iloc[i]:
        df_test_computer['result_computer'].iloc[i] = 8
        
    elif df_test_computer['hand7'].iloc[i]:
        df_test_computer['result_computer'].iloc[i] = 7
        
    elif df_test_computer['hand6'].iloc[i]:
        df_test_computer['result_computer'].iloc[i] = 6
        
    elif df_test_computer['hand5'].iloc[i]:
        df_test_computer['result_computer'].iloc[i] = 5
        
    elif df_test_computer['hand4'].iloc[i]:
        df_test_computer['result_computer'].iloc[i] = 4
        
    elif df_test_computer['hand3'].iloc[i]:
        df_test_computer['result_computer'].iloc[i] = 3
        
    elif df_test_computer['hand2'].iloc[i]:
        df_test_computer['result_computer'].iloc[i] = 2
        
    elif df_test_computer['hand1'].iloc[i]:
        df_test_computer['result_computer'].iloc[i] = 1
        
    else:
        df_test_computer['result_computer'].iloc[i] = 0



df_test.drop(['hand0','hand1','hand2','hand3','hand4','hand5','hand6','hand7','hand8','hand9'],
              axis=1, inplace = True)
df_test=df_test.reindex(columns = ['el1','el2','flop1','flop2','flop3','turn','river','result_player'])


df_test_computer.drop(['hand0','hand1','hand2','hand3','hand4','hand5','hand6','hand7','hand8','hand9'],
                      axis=1, inplace=True)
df_test_computer = df_test_computer.reindex(columns = ['pc1','pc2', 'flop1','flop2','flop3','turn','river','result_computer'])


df_test['winner'] = np.nan
df_test_computer['winner'] = np.nan
for i in range(df_test.shape[0]):
    if df_test['result_player'].iloc[i] > df_test_computer['result_computer'].iloc[i]:
        df_test['winner'].iloc[i] = 1
        df_test_computer['winner'].iloc[i] = 1
    elif df_test['result_player'].iloc[i] < df_test_computer['result_computer'].iloc[i]:
        df_test['winner'].iloc[i] = -1
        df_test_computer['winner'].iloc[i] = -1
    else:
        df_test['winner'].iloc[i] = 1
        df_test_computer['winner'].iloc[i] = 1
X_test= df_test.drop(['winner','result_player'],axis=1)
y_test= df_test['winner']
result_df = pd.DataFrame(data = 0, columns = desteStr, index = df_test.index)

for i in range(X_test.shape[0]):
    for col in X_test:
        result_df[X_test[col].iloc[i]].iloc[i] = 1
X_test = result_df

C:\Users\numan\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [28]:
X_test.head()

,H1,H2,H3,H4,H5,H6,H7,H8,H9,H10,...,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,0,0,0,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [29]:
y_test.head()

0    1.0
1    1.0
2   -1.0
3    1.0
4    1.0
Name: winner, dtype: float64

In [30]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

models = []
RFclf1 = RandomForestClassifier(n_estimators=50,criterion='entropy')
models.append(RFclf1)
DTclf1 = DecisionTreeClassifier(criterion = 'entropy')
models.append(DTclf1)
SVclf = SVC()
models.append(SVclf)
KNNclf = KNeighborsClassifier(n_neighbors=5)
models.append(KNNclf)


for model in models:
    model.fit(X_train,y_train)
    y_pred= model.predict(X_test)
    print(accuracy_score(y_test, y_pred))

0.69
0.586
0.686
0.657

In [31]:
for model in models:
    print(cross_val_score(model,X_test,y_test,cv=15))

[0.68656716 0.6119403  0.62686567 0.65671642 0.65671642 0.62686567
 0.68656716 0.71641791 0.64179104 0.65671642 0.62121212 0.65151515
 0.62121212 0.68181818 0.65151515]
[0.56716418 0.49253731 0.46268657 0.49253731 0.56716418 0.49253731
 0.58208955 0.59701493 0.55223881 0.64179104 0.60606061 0.63636364
 0.45454545 0.57575758 0.60606061]
[0.68656716 0.68656716 0.68656716 0.68656716 0.68656716 0.68656716
 0.68656716 0.68656716 0.68656716 0.68656716 0.6969697  0.68181818
 0.68181818 0.68181818 0.68181818]
[0.56716418 0.53731343 0.56716418 0.6119403  0.59701493 0.59701493
 0.56716418 0.59701493 0.6119403  0.6119403  0.74242424 0.65151515
 0.60606061 0.65151515 0.59090909]